.calculadoraweb {
  background-image: url("Logo_utm.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #8cb5c4;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #226596;
  border-radius: 5px;
  padding: 10px;
}


input[type="text"] {
  background-color: #eff3f7;
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #226596;
  border-radius: 5px;
}

.botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #283f5c ;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e0e0e0;
}

button:active {
  background-color: #d3d3d3;
}

body {
  background-image: url("Calculadora.png");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}
